* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
/* Start Global Style */
ul, ol {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    list-style: none
}
/* End Global Style */

/* Start */
.parent {
    margin: 200px;
}
.parent .lists {
    display: flex;
    justify-content: center;
}
.parent .lists .list {
    width: calc(100% / 4);
    text-align: center;
}
.parent .lists .list:not(.special) {
    background-color: #242424;
    margin-top: 30px;
    margin-bottom: 30px;
}
.parent .lists .list.special {
    background-color: #03A9F4;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}
.parent .lists .list:first-of-type {
    border-right: 1px solid #3a3838;
}
.parent .lists .list .head {
    color: #fff;
}
.parent .lists .list:not(.special) .head {
    border-bottom: 1px solid #3a3838;
    padding: 30px;
}
.parent .lists .list.special .head{
    border-bottom: 1px solid rgba(246, 246, 246, 0.4);
    padding: 40px;
}
.parent .lists .list .head span {
    display: block;
    margin-top: 15px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}
.parent .lists .list.special .head span {
    margin-top: 25px;
}
.parent .lists .list .head span::before {
    content: "$";
    position: absolute;
    top: 5px;
    left: 65px;
    font-size: 20px;
}
.parent .lists .list.special .head span::before {
    left: 50px;
}
.parent .lists .list .head span::after {
    content: "/ mo";
    position: absolute;
    bottom: 5px;
    right: 40px;
    font-size: 20px;
}
.parent .lists .list.special .head span::after {
    right: 25px;
}
.parent .lists .list ul li {
    padding: 20px;
    font-weight: bold;
}
.parent .lists .list:not(.special) ul li {
    border-bottom: 1px solid #3a3838;
    color: #8c8b8b;
}
.parent .lists .list.special ul li {
    color: #f6f6f6;
    border-bottom: 1px solid rgba(246, 246, 246, 0.4);
}
.parent .lists .list:not(.special) ul li:nth-last-of-type(2),
.parent .lists .list:not(.special) ul li:nth-last-of-type(4) {
    position: relative;
}
.parent .lists .list:not(.special) ul li:nth-last-of-type(2)::after,
.parent .lists .list:not(.special) ul li:nth-last-of-type(4)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
}
.parent .lists .list button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 40px;
    border: 1px solid #3a3838;
    background: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.parent .lists .list.special button {
    border: 1px solid rgba(246, 246, 246, 0.4)
}
/* End */