div {
    width: 800px;
    margin: 100px auto;
    padding: 80px;
    text-align: center;
    position: relative;
}
div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: #343A40;
    border-top: 15px solid #FFF;
    border-bottom: 15px solid #FFF;
}
div::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #fff;
    border-right: 15px solid #343A40;
    border-top: 15px solid #343A40;
    border-bottom: 15px solid #343A40;
    border-radius: 5px;
}
div img {
    position: relative;
    z-index: 2;
}